/* inheritance */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: lightgray;
}

/* multiple selectors */
header,
footer {
    background-color: burlywood;
}

/* class selector */
.site-title {
    color: rgb(100, 114, 237);
}

/* id selector */
#my-image {
    box-shadow: black 0px 0px 2px 1px;
}

/* replace bullets */
.hobbies {
    list-style: square;
}

/* nth-child */
.hobbies>li:nth-child(2n-1) {
    background-color: darkgray;
}

/* navigation(no ul tags) */
/* no underlines, add background and border */
.nav a {
    color: rgb(100, 114, 237);
    text-decoration: none;
    background-color: thistle;
    border: rgb(100, 114, 237) solid 1px;
}

/* change background on hover focus active */
.nav a:hover,
.nav a:focus,
.nav a :active {
    box-shadow: 0px 0px 1px 0.5px;
    background-color: darksalmon;
}

.nav a:visited {
    color: rgb(100, 114, 237);
}