/* #F8F7F9(white), #3E4E50(smoke gray), #232d2e(dark 3e4e50), #04002e(main content color) */

/* Make max width to all content prevent scroll bar, make page fill the window, set the font*/
body {
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
    background-color: #3e4e50;
    font-family: 'PT Sans Narrow', sans-serif;
}

body #main {
    margin: 0 auto;
    min-width: 100%;
}

/* adjust nav bar, clean the base.css, make it looks normal! */
#nav.nav {
    background-color: #3e4e50;
    border: none;
    width: 100%;
    padding: 0;
    margin: 5rem 0px;
}

/* adjust the nav content, change font color, adjust the align to make it looks formal */
#nav.nav .nav-link {
    color: #f8f7f9;
    padding: 5rem 4%;
}

/* add hover motion to make it interactive */
#nav.nav .nav-link:hover {
    background-color: #232d2e;
}

#nav.nav .nav-link:active {
    color: gray;
}

/* change home background color&font style,color */
/* consistent with navigation */
#home.home {
    background-color: #f8f7f9;
    color: #3e4e50;
}

#home.home h1 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    font-size: 5rem;
    padding: 0;
    margin: 0;
}

#home.home {
    font-family: 'PT Sans Narrow', sans-serif;
}

/* About
 change background color to dark blue, font size keep all the same, make about clear, professional, readable */
#about.about {
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: #04002e;
    color: #f8f7f9;
    padding: 3rem 5%;
}

#about.about .section-title {
    font-size: 3rem;
}

/* no image in mobile device! */
#about.about .about-image {
    width: 0;
}

#about.about p {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

/* Contact */
/* make consistent paragraph and title */
#contact.contact {
    background-color: #f8f7f9;
    color: #04002e;
    font-size: 1.5rem;
    padding: 3rem 0 3rem 0;
}

#contact.contact h2 {
    font-size: 3rem;
    padding: 0;
    margin: 0;
}

#contact.contact p {
    padding: 0 5%;
}

/* make form centered for mobile users */
#contact.contact .contact-form {
    background-color: #f8f7f9;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

#contact.contact form div {
    font-size: 1rem;
    color: #04002e;
    padding: 0.2rem 3rem;
}

#contact.contact form div input {
    max-width: 24rem;
    margin-bottom: 1rem;
}

#contact.contact form div textarea {
    max-width: 24rem;
    margin-bottom: 1rem;
}


/* decoration the button, make it consistent */
#contact.contact form button {
    font-family: 'PT Sans Narrow', sans-serif;
    margin-left: 3rem;
    background-color: #04002e;
    color: #f8f7f9;
    text-decoration: none;
    border: none;
    box-shadow: none;
    width: 8rem;
    height: 3rem;
    font-size: 1rem;
}

/* make button motion to interact */
#contact.contact form button:active {
    color: gray;
}


/* footer, just clear! */
footer {
    color: #f8f7f9;
    padding-left: 5%;
}