/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ------------------------------------------------- */
body {
    background-color: #f7f7ff;
    font-family: 'Montserrat', sans-serif;
    color: #333131;
}

/* make footer take full space */
header,
main {
    padding: 0 36px;
}

/* exact img size from xd */
header img {
    width: 114.73px;
    height: auto;
}

/* all info from xd, no adjustments */
header h1 {
    font-weight: bold;
    font-size: 60px;
    line-height: 73px;
}

header p {
    font-size: 24px;
    line-height: 29px;
    padding: 20px 0;
}

/* adding the background image, for further adaption */
main {
    background-image: url(../images/bg-image/scooter.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-x: center;
    padding-top: 60%;

}

/* inside the white box, text color#333131 */
.apply {
    background-color: #FFFFFF;
    color: #333131;
    box-shadow: #333131 5px 10px 15px;
    border-radius: 26px;
    padding: 30px 25px;
    margin-bottom: 50px;
}

.apply h2 {
    font-size: 40px;
    font-weight: bold;
}

.apply p {
    font-size: 16px;
}

/* adjust the form, background color#F4F4F5, text color#9B9B9B  */
.apply form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.apply form input {
    border: none;
    height: 40px;
    border-radius: 11px;
    margin: 10px 0;
    background-color: #F4F4F5;
    padding-left: 12px;
}

.apply form input::placeholder {
    color: #9B9B9B;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.apply form #agree {
    box-shadow: none;
    height: 23px;
    width: 23px;
    border-radius: 11px;
    border: black 1px solid;
    position: relative;
    right: -3px;
}

label {
    float: right;
    position: relative;
    top: -28px;
    right: -35px;
}

.apply form button {
    font-family: 'Montserrat', sans-serif;
    background-color: #57eeab;
    border: none;
    border-radius: 11px;
    font-weight: bold;
    font-size: 24px;
    padding: 20px;
}

.apply p {
    margin-top: 20px;
    font-size: 14px;
    line-height: 18px;
}

.apply p a {
    text-decoration: none;
    color: #ff8480;
}

/* footer, color#fffd8c*/
footer {
    background-color: #fffd8c;
    padding: 30px 36px;
}

footer h3 {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}

footer p {
    font: 16px;
    line-height: 19px;
    margin-bottom: 10px;
}

footer form {
    display: grid;
    grid-template-columns: 68px 224px;
    grid-template-rows: 40px 40px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}


/* same as previous one */
footer form #Hours {
    grid-column: 1/2;
    grid-row: 1/2;
    border-radius: 11px;
    border: none;
    padding-left: 10px;
}

footer form #City {
    grid-column: 2/11;
    grid-row: 1/2;
    border-radius: 11px;
    border: none;
    padding-left: 10px;
}

footer form .cal {
    grid-column: 1/11;
    grid-row: 2/3;
}

/* changing the placeholder to the example */
footer form input::placeholder {
    color: #9B9B9B;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

/* all according to xd file */
footer form button {
    background-color: #ff8480;
    color: #f7f7ff;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 11px;
    padding-top: 5px;
}

/* icons, flex even space */
footer .icons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

/* tablet */
@media screen and (min-width: 768px) {

    /* adjust size to the new screen according to XD file */
    header,
    main {
        padding: 15px 60px;
    }

    header h1 {
        font-size: 80px;
        line-height: 97px;
    }

    header p {
        padding: 0;
        margin-top: 30px;
        line-height: 29px;
    }

    main {
        padding-top: 60%;
    }

    .apply {
        margin-bottom: 60px;
    }

    .apply p {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .apply .aa {
        font-size: 17px;
        margin-bottom: 10px;
        text-align: center;
    }

    .apply form input::placeholder {
        font-size: 18px;
    }

    .apply form #agree {
        font-size: 20px;
    }

    /* footer, changing grid and icons */
    footer {
        padding-left: 60px;
        padding-right: 60px;
    }

    /* reset the length, combine into 1 row */
    footer form {
        grid-template-columns: 122px 260px 1fr;
        grid-template-rows: 40px;
    }

    footer form #Hours {
        grid-column: 1/2;
        grid-row: 1/2;
        border-radius: 11px;
        border: none;
        padding-left: 10px;
    }

    footer form #City {
        grid-column: 2/3;
        grid-row: 1/2;
        border-radius: 11px;
        border: none;
        padding-left: 10px;
    }

    footer form .cal {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    footer .icons {
        width: 260.5px;
        padding-left: 35%;
        padding-right: 35%;
    }
}



/* desktop */
@media screen and (min-width: 1920px) {

    /* reset background image for better effect */
    .maingrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        background-image: url(../images/bg-image/scooter.svg);
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        background-size: 820px 600px;
    }

    /* cancel the previous image */
    main {
        background-image: none;
    }

    /* set grid, homepage in 2 parts horizontal*/
    header {
        padding: 15px 105px;
        grid-column: 1/2;
        grid-row: 1/2;
        max-width: 536px;
    }

    header h1 {
        margin-top: 30%;
    }

    header p {
        padding: 0;
    }

    /* put apply to the right position */
    .apply {
        grid-column: 2/3;
        grid-row: 1/2;
        max-width: 535px;
        margin: 0;
        position: relative;
        top: -280px;
        right: -200px;
    }

    /* make footer flex to put elements on the same line   */
    footer {
        display: flex;
        padding-left: 105px;
        padding-right: 105px;
    }

    footer .calculate {
        max-width: 615px;
    }

    footer .icons {
        padding: 0;
        margin-left: 55%;
    }
}

/* Thank you for checking my code! */